<!-- parent statement -->
<div class="row" id="parent_statement-row">
  <h3 id='like-post-container'>
    You're not so sure that…
  </h3>
  <h2 id="parent_statement-statement">
    <!-- …this is the new statement. -->
    <%= ellipsis_statement(parent_content) %>
  </h2>
</div>
