<div class="row" id="previously_agreed">
  <div class="col-xs-12">
    <h5>You previously agreed that… <%= link_to voted.content, voted %>. Clicking "Agree" will remove your previous vote.</h5>
  </div>
</div>
