<% content_for :head do %>
<title>We Agree That…</title>
<% end %>

<div class="jumbotron">
  <%= render partial: "statements/partials/parent_statement",
      locals: {parent_content: @parent.content} if @parent.present? %>
  <div class="row">
    <h3>
      <% if @parent.present? %>Instead, you propose that…<% else %>You propose that…<% end %>
    </h3>
  </div>
  <%= render partial: "statements/partials/new_statement_form",
      locals: {statement: @statement, parent: @parent, author_id: @author_id} %>
</div>
