<% content_for :head do %>
<title>We Agree That…</title>
<% end %>

<div class="jumbotron">
  <%= render partial: "statements/partials/parent_statement" %>
  <div class="row">
    <h3>
      Instead, you agree that…
    </h3>
  </div>
  <%= render partial: "statements/partials/new_statement_form" %>
</div>
