<div class="jumbotron">
  <div class="row">
    <div class="col">
      <h1>About</h1>
    </div>
  </div>


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h3 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Why does this site exist?
            </a>
          </h3>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>Because I want a better world for my kids, and this is hopefully a little way towards that.</p>
            <p>I think we can all agree that politics are driven by personalities, not policy. The best policies, presented by an uncharismatic person, aren't going to be enacted. And a charismatic person, without strong policy, can be elected.</p>
            <p>So I guess this is my attempt to disassociate what we believe from who we believe, in an attempt to find that we all have more common ground than  we think.</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h3 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Who is behind this website?
            </a>
          </h3>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <p>I am!</p>
            <p>I'm just a person. I can be reached using the <a href="/contact_form">contact form</a>.</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h3 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              How do I write one of these things?
            </a>
          </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <p>The intention behind this website is to posit positive, lean statements that people can easily agree with.</p>
            <p>So when you write something, try to keep it short and <a href="https://en.wikipedia.org/wiki/Axiom">axiomatic</a> -- remember <a href="https://simple.wikipedia.org/wiki/Occam%27s_razor">Ockham's Razor</a> -- so that it's easy for someone to agree with it.</p>
            <p>Also keep things positive, and avoid negative structures. Instead of writing "the world is not flat", write "the world is round". Agreeing with a negative doesn't allow for further progress.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
